<div class="projects">

	{{#each data}}

	
			<div class="eachProject">

					<a href={{this.link}} target="_blank">
						<img class="projectPic" src={{this.imgURL}} />
						<h2 class="projectName">{{this.name}}</h2>
					</a>
					<p>{{this.about}}</p>
			</div>		
	</a>
	{{/each}}

	
</div>